body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 83%;
}
h1 {
	border-style: double;
	color: fuchsia;
	text-align: center;
}
h2 {
	color: fuchsia;
	margin-bottom: 0px;
	font-size: 100%;
}
li {
	font-style: italic;
}
p {
	margin-top: 2px;
}